

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --desaturated-red:hsl(0, 36%, 70%);
    --soft-red:hsl(0, 93%, 68%);
    --dark-red:hsl(0, 6%, 24%);
    --font-default:16px;
    --gradient-one: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    --gradient-two: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
}

html, body {
  max-height: 100vh; 
  overflow: hidden; 
  margin: 0;
  padding: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    max-height: 100vh;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }

  header {
    display: flex;
    height: auto;
    width: 90%;
    padding: 50px;
    position: absolute;
    margin-left: 80px;
  }

  

  .container .card-left {
    padding-top: 28vh;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    background-image: url("../assets/images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position: center;
  }
  
  .card-left h1 {
    font-size: 3.8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    letter-spacing: 10px;
  }
  .card-left span {
    font-weight: 600;
    color: hsl(0, 6%, 24%);
  }
  
  .card-left p {
    font-size: 20px;
    max-width: 100%;
    text-align: left;
    color: hsl(0, 36%, 70%);
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .card-right {
    width: 60%;
    height: 100vh;
    position: relative;
}

.card-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}